
.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight:600;
}
.header
{
        grid-column: 2/3;
        margin: clamp(0.5rem,1.2vh,2rem) 0 0 0;
        background-color: #1b1b1b;
        border-radius: clamp(0.2rem, 2vw, 1rem);
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        padding-left: clamp(0.2rem,3vw,8rem);
        padding-right: clamp(0.2rem,3vw,8rem);
}
 .container
{
    display: grid;
    justify-self: center;
    margin-top: clamp(0.2rem,2.4285%,5rem);
    row-gap:clamp(0.2rem,2.5vh,4rem);
    column-gap: clamp(0.2rem,1.2vh,2rem);
    grid-template-columns: clamp(0.2rem,5vw,8rem) auto clamp(0.2rem,5vw,8rem);
}
@media (min-width:1024px)
{
    .container
    {
        row-gap:clamp(0.5rem,6vh,4rem); 
    }

}

.navSection
    {
         flex: 3;
         flex-direction: row;
         gap: clamp(0.2rem,3vw,7rem);
         display:flex;
    }
    
   .navLogo
    {
        width: clamp(3rem, 10vw,12rem);
        height: clamp(0.5rem, 5vh,5rem); 
        align-self:center;
    }

    .navBar
    {
        margin-top: auto; 
        margin-bottom: auto; 
        margin-left: auto; 
        margin-right: auto; 
        border-radius: 5rem;
        height: fit-content;
        overflow: hidden;
        padding: auto;
        background-color: #45108a;
        color:#f5f5f5; 
        font-weight :normal;
        font-size: clamp(0.1rem, 1.5vw, 1rem);
        
    }
    .navBar:hover
    {
         box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
         background-image: none;
         background-color: whitesmoke;
    }

    
    .navMenu
    {
        display: flex;
        list-style-type: none;
        white-space: nowrap;
        
    }
    
    .navMItems
    {
        float: left;
        list-style-position: inside;
        padding-right:2rem;
    }
    .navMItemLast
    {
        padding-right:2rem;
       
    }
    .navLink
    {
        text-decoration: none; 
        color: whitesmoke;
        text-size-adjust: inherit;
    }
    .navLink:hover
    {
        color: #45108a;
        text-decoration-line: overline;
    }
    .navSection:has(.navBar:hover) .navLink
    {
        color: #45108a;
    }
    .activeTab
    {
       font-weight: bold;
    }
    .buttonText
    {
        text-decoration: none;
    }
    .navbutton
    {
        display: flex;
        border-radius: 3rem;
        padding: clamp(0.2rem, 1.15vw, 1.5rem);
        justify-content: center;
        height: fit-content;
        overflow: hidden;
        align-items: center;
        background-color: #45108a;
        color: whitesmoke;
        font-weight:normal;
        font-size: clamp(0.1rem, 1.5vw, 1rem);
        
    }
    .navbutton:hover
    {
        color: #45108a;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
        background-color: whitesmoke;
        background-image: none;
    }
    .login
    {
      display: flex;
      flex-direction: row;
      align-self: center;
      gap: clamp(0.1rem, 0.3rem, 0.5rem);
      justify-content: center;
      height: fit-content;
    }

    @media (max-width:760px){
        .navSection
        {
            
        flex: 3;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-self: center;
        overflow:hidden;
        flex-wrap: wrap;
        gap: clamp(0.2rem,2vw,4rem);

        }
        .navBar
        {
        flex-flow: column wrap;
        text-align: center;
        min-width:fit-content;
        }
         .navbutton
        {
        padding: clamp(0.2rem, 1.15vw, 1.5rem);
        font-size: clamp(0.1rem, 1vw, 0.7rem);
        align-content: center;
        background-color: #7600bc;
        color: whitesmoke;
        }
        .login
        {
          margin: 0%;
          padding: clamp(0.2rem,1.7vw,2rem) 0 0 0;
        }
        .navLogo
        {
            margin: 0%;
            padding: 0%;
            height: clamp(0.5rem, 2vh,3rem); 
        }
    }   

    .bodyStyle
    {
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;;
        min-height: 100vh;
        border-radius: 1rem;
        justify-self: center;
        width: 98vw;
        margin: 0px;
        padding: 0%;
        padding-bottom: 1.2rem;
    }

    .firstSection
    {
        grid-column: 2/3;
    }
    .heroSection
    {
       
        padding: 0%;
        display: grid;
        margin-top: clamp(0.2rem,1.2vh,2rem);
        grid-template-columns: auto  auto ;
        column-gap: auto;
        max-height: max-content;
    }
    .heroText
    { 
        grid-column: 1/2;
        grid-row: 1/1;
        justify-self: left;
        justify-content: left;
        max-height: max-content;
        margin: 0px;
        padding: 0px;
    }
        .heroHeading
    {
        font-size: clamp(0.7rem,2vw,3rem);
        color: #1b1b1b;
        font-weight:bold;
        padding: 0px;
        margin: 0px;
        max-width: 28vw;
        
    }
    .heroDetail
    {
        color: #45108a;
        max-width: 27vw;
    }
    .heroImage
    {  
        grid-column: 2/2;
        grid-row: 1/1;
        justify-self: right;
        max-height: fit-content;
        width:clamp(240px,10vw,500px); 
        height:clamp(100px,8vh,220px);
    }
    .heroButton
    {
        display: flex;
        border-radius: 3rem;
        padding: clamp(0.2rem, 1vw, 1.5rem);
        justify-content: center;
        height: fit-content;
        max-width:fit-content;
        overflow: hidden;
        align-items: center;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
        background-color: #1b1b1b;
        color: antiquewhite;
        background-image: none;
        font-weight:normal;
        font-size: clamp(0.1rem, 1vw, 0.7rem);
        
    }
    .heroButton:hover
    {
        background-image: linear-gradient(-30deg, #45108a 2.4285%, #3d065f 29.2929%, #2e3192 100% );
        color: antiquewhite;
        
    }
    @media (max-width:768px)
    {
    .heroSection
    {
       
        gap: clamp(0.2rem,2vw,8rem);
    }
    .heroText
    {
        max-height: fit-content;
        justify-self: left;
    }
    .heroHeading
    {
    max-width: 27vw;
    }
    .heroDetail
    {
        font-size: clamp(0.1rem, 1.5vw, 1rem);
        max-width: 28vw;
    }
    .heroImage
    {
       justify-self: right;
        width:clamp(100px,10vw,220px); 
        height:clamp(60px,8vw,100px); 
    }
     .heroButton
    {
        border-radius: 3rem;
        padding: clamp(0.2rem, 1vw, 1.5rem);
        font-size: clamp(0.1rem, 1vw, 0.7rem);
    }
    }

    .servicesSection
    {
        grid-column: 2/3;
    }
    .generalHeading
    {

        font-size: clamp(0.5rem,1.5vw,2rem);
        font-size: clamp(0.7rem,2vw,3rem);
        color: #1b1b1b;
        font-weight:bold;
        padding: 0px;
        margin: 0px;
        max-width: 28vw;
        
    }
    .generalDetail
    {
        font-size: clamp(0.1rem, 1.5vw, 1rem);
         color: #45108a;
        max-width: 27vw;
    }

    .servicesCard
    {
     display: grid;
     box-sizing: content-box;
     border-radius: clamp(0.2rem,0.3vw,2rem);
     background-image: linear-gradient(-30deg, #45108a 2.4285%, #3d065f 29.2929%, #2e3192 100% );
     margin-top: clamp(0.2rem,1.2vh,2rem);
     grid-template-columns: 50% 50% ;
    }
    
    .servicesHeading
    {
        color:aliceblue;
        font-size: clamp(0.2rem, 1.5vw, 1.2rem);
        font-weight: bold;
        
    }
    .servicesDetail
    {
        font-size: clamp(0.1rem, 1.5vw, 1rem);
        font-weight: normal;
        color: aliceblue;
        margin: 0px;
        max-width: 70%;
    }
    .imageBox
    {
        display: flex;
        justify-self: right;
        align-self: center;
        border-radius: clamp(0.2rem,0.2vw,2rem);
        object-fit: contain; 
        padding: clamp(0.5rem,4vw,2rem);  
        width: clamp(12rem, 18vw,24rem);
        height: clamp(12rem, 18vw,24rem);
    }
    @media (max-width:400px)
    {
        .imageBox
        {
           width: clamp(8rem, 5vw,12rem);
           height: clamp(8rem, 5vw,12rem); 
        }
    }

    .ImageGrid
    {      
        grid-column: 2/2;
        grid-row: 1/1;
    }
    .serviceImage
    {
        max-width: 100%;
        max-height: auto;
        object-fit: cover;
        background-color: aliceblue;
        
    }

    .servicesText
    {
   
      padding: clamp(0.5rem,4vw,2rem); 
      align-self: center; 
    }
    
    .GridText
    {
        grid-column: 1/2;
        grid-row: 1/1;
    }
    .sliderButtons
    {
        display: flex;
        flex-direction: row;
        gap: clamp(0.2rem,1.2vw,1rem);
        padding: clamp(0.2rem,1.2vw,1rem) 0 0 0;
    }
    .activeSlide
    {
        width: clamp(0.2rem,0.7vw,1rem);
        height: clamp(0.2rem,0.7vw,1rem);
        border-radius: 50%;
        border: clamp(0.1rem,0.15vw,0.3rem) solid antiquewhite;
        background-color: antiquewhite;
    }
      .inactiveSlide
    {
        width: clamp(0.2rem,0.7vw,1rem);
        height: clamp(0.2rem,0.7vw,1rem);
        border-radius: 50%;
        border: clamp(0.1rem,0.15vw,0.3rem) solid antiquewhite;
        background: transparent;
    }
.footer
    {
      
      grid-column: 2/3;
      margin: clamp(0.5rem,1.2vh,2rem) 0 0 0;
      font-size: clamp(0.1rem, 1.5vw, 1rem);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: clamp(0.2rem, 2vw, 1rem);
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      padding-left: clamp(0.2rem,3vw,8rem);
      padding-right: clamp(0.2rem,3vw,8rem);
      align-items: center;
      border-radius: 1rem; 
      box-shadow: 0px 4px 8px rgba(0,0,0,0.2) ;
    }
    .footerIcons
    {
      width: clamp(0.5rem,1.5vw,1.2rem);
      height: clamp(0.5rem,1.5vw,1.2rem);
      padding: 0 0 0 0 0;
      padding-right: clamp(0.2rem,0.9vw,0.7rem);
    }

      .footerContent
    {  
        
        display: flex;
        gap: clamp(0.2rem,0.9vw,0.7rem);
        color:whitesmoke; 
        align-content:inherit;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
        font-weight: normal;
        overflow: hidden;
    }
     .footerSection
    {
      padding: clamp(0.2rem,0.9vw,1rem);
      max-width: 30%;
    }
    .footerHeading
    {
      font-weight:bold;
    }
    .footerFlogo
    {
        display: block;
        object-fit: cover;
        padding:0%;
        margin: 0%;  
        width: clamp(0.5rem, 9vw,6rem);
        height:  clamp(0.1rem, 1.5vh,2rem);
    }
    @media(min-width:1024px)
    {
        .footerFlogo
    {
        display: block;
        object-fit: cover;
        padding:0%;
        margin: 0%;  
        width: clamp(0.5rem, 8vw,6rem);
        height:  clamp(0.1rem, 1.5vh,2rem);
    }
    }

    @media(max-height:800px)
    {
        .footerFlogo
     {
        display: block;
        object-fit: cover;
        padding:0%;
        margin: 0%;  
        width: clamp(0.5rem, 7.5vw,5rem);
        height:  clamp(0.1rem, 1.8vw,7rem);
     }
    }

     @media(min-width:1200px)
    {
        .footerFlogo
     {
        display: block;
        object-fit: cover;
        padding:0%;
        margin: 0%;  
        width: clamp(0.5rem, 8vw,7rem);
        height:  clamp(0.1rem, 2vw,2rem);
     }
    }


    .slogan
    {
        margin-top: 0.5rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: clamp(0.1rem, 1.5vw, 0.7rem);

    }
    .introTools
    {
        display: flex;
        flex-direction: row;
    }
    
    .servicesColumn
    {
      display:flex;
      flex-direction: row;
      gap: clamp(0.2rem,2vw,2rem);
      
    }
    .footerSlist
    {
      padding-left: clamp(0.2rem,0.9vw,0.7rem);
      margin:auto;
      max-width: max-content;
    }
    .footerIconlist
    {
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }
    .footerContactlink
    {
      color:whitesmoke;
      padding: 0%;
      text-decoration: none;
    }
    .footerContactlist
    {
        padding-left: 0%;
        line-height: 1.5rem;
    }
    .footerDivider
    {
      width: clamp(0.0015rem,10vw,0.15rem);
      background-color: aliceblue;
      height: clamp(4rem,20vh,8rem);
      display: inline;
      border-radius: 0.05rem;
      align-self:center;
    }
    .copyrights
    {
      align-self: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-align: center;
      font-size: smaller;
      font-weight: lighter;
      color:whitesmoke;
      max-height: fit-content;
    }
        
    @media(max-width:760px)
    {
      .footerContent
    {  
       flex-direction: column; 
        gap: clamp(0.2rem,0.9vw,0.7rem);
        color:whitesmoke; 
        align-content:inherit;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
        font-weight: normal;
        overflow: hidden;
        justify-self: center;
        
    }
    .footerSection
    {
        max-width: max-content;
        align-self: center;
        justify-content: center;
        font-size: clamp(0.1rem, 2.5vw, 1rem);
    }
    .footerFlogo
    {
         height: clamp(0.05rem, 3vw,4rem);
         width: clamp(2rem, 12vw,12rem);
         justify-self: center; 
         object-fit: cover;
    }
    .footerText
    {
        justify-self: center;
        text-align: center;
    }
    .slogan
    {
        justify-self: center;
    }
    .introTools
    {
        justify-self: center;
    }
    .footerDivider
    {
      width:  clamp(1rem,10vw,2rem);
      background-color: aliceblue;
      height: clamp(0.0015rem,2vh,0.10rem);
      display: inline;
      border-radius: 0.05rem;
      align-self:center;
      justify-self: center;
    }
    .footerHeading
    {
      font-weight:bold;
      justify-self: center;
    }
    .servicesColumn
    { 
        flex-direction: column;
        gap: clamp(0.2rem,2vw,2rem); 
    }
    .footerSlist
    {
      
      display: flex;
      flex-direction:row;
      list-style-type: none;
      margin:auto;
      max-width: max-content;
    }
    .footerSItems
    {
     padding-right: clamp(0.2rem,1vw,1rem);
    }
   .contactOption
   {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .footerContactlist
   {
    display: flex;
    gap: clamp(0.2rem,5vw,4rem);

   }
   .footerIconlist
   {
     margin-bottom :clamp(0.2rem,1vh,1.5rem);
   }
}
